{% extends 'base.html'%}
{% load static %}

{% block content %}

<div class="row">
    <div class="col-sm-3"></div>

    <div class="col-sm-6">
        {% if userdata %}
        {% for u in userdata %}
        <form method="post" autocomplete="off" enctype="multipart/form-data">

        <img src="{% static 'images/books17.jpg' %}" style="height:200px;" class="img-thumbnail "> <br><br>
                 <h4>Name</h4> <br>
                <h4>DOB</h4> <br>
                <h4>Mobile No</h4>  <br>
                <h4>Email Id</h4>  <br>
                <h4>Qualification</h4>  <br>
                <h4>Profession</h4>  <br>
                <h4>City</h4>  <br>
                <h4>Address</h4>  <br>
        </form>
        {% endfor %}
        {% endif %}

    </div>


    <div class="col-sm-3"></div>

</div>

{% endblock %}